.login_main{
    width: 100%;
    padding: 0rem 0.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.login_from{
    width: 100%;
}
.login_forgot_password{
    color: antiquewhite;
    cursor: pointer;
    text-decoration: underline;
    
}
.login_image{
    height: 30rem;
    max-height: 90vh;
    max-width: 90vw;
}

@media (max-width: 576px) { 
    .login_main{
        flex-direction: column;

    }
       
 }
.self_center_align{
    align-self: center;
    justify-self: center;
}
.login_separator{
    margin: 1rem 0.1rem;
}
@media (max-width: 768px) {
    .login_main{
        flex-direction: column;

    }
       
 }