.login_main{
    width: 100%;
}
.login_from{
    width: 100%;
}
/* 
@media (max-width: 576px) { 
    .login_form {
        width: 80%;
       }
       
 }

@media (max-width: 768px) {
    .login_form {
        width: 80%;
       }
       
 } */