.homepage_qr_image{
   background-image: url('./qr_image.png');
   height: 400px;
   width: 400px;
   background-repeat: no-repeat;
   background-size: cover;
   
}
.homepage_pre_head{
    margin: 0.5rem 0;
    font-size: 1.2rem;
    /* font-family:monospace; */
    letter-spacing: 0.3rem;
    color: gray;
    font-weight: 800;
}
.homepage_main_head{
    margin: 0.5rem 0;
    color: antiquewhite;
    font-size: 3rem;
    font-weight: 900;
}
.homepage_post_head{
    margin: 0.5rem 0;
    color: antiquewhite;
    font-size: 2rem;
    font-weight: 100;
}
.homepage_title{
    width: 50%;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}
.homepage_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
}

@media (max-width: 576px) { 
    .homepage_post_head,.homepage_pre_head{
        margin: 2rem 0rem;
        font-size: 0.9rem;
    }
    .homepage_title{
        width: 90%;
    }
    .homepage_main{
        /* display: flex; */
        flex-direction: column-reverse;
    }
    .homepage_qr_image{
        height: 15rem;
        width: 15rem;
    }
 }

@media (max-width: 768px) {
    .homepage_title{
        align-items: center;

        width: 90%;
    } 
    .homepage_qr_image{
        align-items: center;

    }
    .homepage_main{
        align-items: center;

        /* display: flex; */
        flex-direction: column-reverse;
    }
 }
