/* select {
    appearance: none;

} */
.qrform_main{
    /* padding: 1.5rem 0; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.qrform_form{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.qrform_input{
    margin: 1rem 0rem;
    width: 100%;
    padding: 0rem 0.2rem;
    background-color: transparent;
    color: azure;
    font-size: 1rem;
    border: none;
    border-bottom: solid purple;
    height: 2rem;
}
.qrform_input:focus{
    outline: none;
}
.qrform_submit{
    cursor: pointer;
    text-align: center;
    align-self: flex-end;
    margin: 1rem 0rem;
    width: 50%;
    padding: 0.2rem 0.2rem;
    background-color: transparent;
    color: azure;
    font-size: 1.5rem;
    box-shadow: none;
    border-radius: 2rem;
    background-color: rgba(255, 228, 196, 0.21);
    /* border: none;
    sh
    border-bottom: solid purple; */
    /* height: 2rem; */
}
 .qrform_main{
     display: flex;
     justify-content: space-between;
 }
.qrform_size_input label{
    color: antiquewhite;
}
.qrform_select{
    margin-top: 0;
}
.qrform_size_input_item{
    /* border: ; */
    background-color:rgba(88, 26, 155, 0.793);
    color: azure;
}
.qrform_size_input_item:hover{
    background-color: rgb(0, 0, 0);
    color: black;
}
.qrform_choose_type{
    color: antiquewhite;
}

.qrform_qr_code{
    width: 40%;
    min-height: 60vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}
.qrform_type_input_label{
    display: inline-block;
    /* height:2rem; */
    cursor: pointer;
    color: antiquewhite;
    width:fit-content;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    border: 2px solid antiquewhite;
}
.qrform_type_input{
    height: 0;
    width: 0;
}
label:has(input:checked){
    background-color: #6F00FF;
}

/* .here */
/* .qr_code{
    background-image: url('./qr_here.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    backg;
} */
 /* media query */
 @media (max-width: 576px) { 
     .qrform_homepage_title{
         width: 90%;
     }
     .qrform_main{
         /* display: flex; */
         /* padding: 2rem 0; */
         width: 100%;
         flex-direction: column-reverse;
     }
     .qrform_form{
        margin: 2rem 0;
        width: 100%;
     }
     .qrform_qr_code{
        /* margin: 0 0; */
        justify-content: start;
        height: fit-content;
        width: 90%;
     }
     .qrform_submit{
        align-self: center;
        font-size: 1rem;
     }
     
  }
 
 @media (max-width: 768px) {
    .qrform_form{
        width: 90%;
     }
     .qrform_qr_code{
        margin: 0 0;
        height: fit-content;
        width: 90%;
     }
     
     .qrform_submit{
        align-self: center;
        font-size: 1rem;
     }
     main{
         align-items: center;
 
         /* display: flex; */
         flex-direction: column-reverse;
     }
  }
 