
.user_main{
    background-color: rgba(0, 0, 0, 0.201);
    /* padding: 0 0; */
    width: 100%;
    min-height: 50vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.user_email{
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
/* .form{
    width: 50%;
    display: flex;
    flex-direction: column;

} */
.user_label{
    margin: 1rem 0rem;
    width: 50%;
    padding: 0rem 0.2rem;
    color:antiquewhite;
    font-size: 1rem;
    
    height: 2rem;
}
.user_input{
    margin: 1rem 0rem;
    margin-right: 2rem;
    width: 50%;
    padding: 0rem 0.2rem;
    background-color: transparent;
    color: azure;
    font-size: 1rem;
    border: none;
    border-bottom: solid purple;
    height: 2rem;
}
.user_input:focus{
    outline: none;
}
.user_submit{
    cursor: pointer;
    text-align: center;
    align-self: flex-end;
    margin: 1rem 0rem;
    width: 40%;
    align-self: center;
    /* margin-right: 2rem; */
    padding: 0.2rem 0.2rem;
    background-color: transparent;
    color: azure;
    font-size: 1.5rem;
    box-shadow: none;
    border-radius: 2rem;
    background-color: rgba(255, 228, 196, 0.21);
    /* border: none;
    sh
    border-bottom: solid purple; */
    /* height: 2rem; */
}

 /* media query */
 @media (max-width: 576px) { 
     
     .user_form{
        width: 90%;
     }
     
     .user_submit{
        align-self: center;
        font-size: 1rem;
     }
  }
 
 @media (max-width: 768px) {
    .user_form{
        width: 90%;
     }
     
     .user_submit{
        align-self: center;
        font-size: 1rem;
     }
     .user_main{
         align-items: center;
 
         /* display: flex; */
         /* flex-direction: column-reverse; */
     }
  }
 