nav{
    background-color: rgba(35, 3, 51, 0.2);
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    
    align-items: center;
    justify-content:space-between; 
    height:60px
}
.navbar{
    width:80%;
    display: flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    font-weight: 900;
    color: black;

}
.brand_name{
    color: antiquewhite;
    width:max-content;
    font-size: 1.5rem;
    justify-self: flex-start;
}
.get_started{
    background-color: rgba(240, 255, 255, 0.238);
    
    width: max-content;
    color: antiquewhite;
    justify-self: flex-start;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-width: 0.1rem;
    /* border-style: solid; */
    border-color: antiquewhite;
    border-radius: 1rem;
}
.nav_item{
    /* padding: 1rem; */
    margin: 0 2rem;
    color: antiquewhite;
}


@media (max-width: 576px) { 
    .homepage_title{
        width: 90%;
    }
    main{
        /* display: flex; */
        flex-direction: column-reverse;
    }
 }

@media (max-width: 768px) {
    .nav_item{
        margin: 1rem 0.7rem;
    }
    /* .homepage_title{
        width: 90%;
    }  */
    nav{
        margin: 2rem 0;
        /* display: flex; */
        flex-direction: column;
    }
 }
