*{
    /* font-family: 'Lato', sans-serif; */
font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: fit-content
  }
body{
    
    /* height: 100%; */
    background: linear-gradient(to bottom,rgba(14, 2, 50, 0.978),rgba(27, 3, 93, 0.726)) no-repeat 
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;   
    padding: 5% 10%;
}
.offscreen{
    color: antiquewhite;
    visibility: hidden; 
    height: 0;
}
.instructions,.errorMsg{
    color: antiquewhite;
    visibility:visible;
    
}



@media (max-width: 576px) { 
    .container{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
 }

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        width: 100%;
        padding: 0%;
    }
 }
